.cta {
  margin-top: 3.5rem;
  width: 80%;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 6px;
  display: flex;

  &--m-auto {
    margin: auto;
  }

  &__input,
  &__btn {
    padding: 1rem;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
  }

  &__input,
  &__input:focus {
    outline: none;
    background-color: black;
    color: white;
  }

  &__input {
    flex-grow: 3;
    margin-right: 0.5rem;

    &:-webkit-autofill {
      -webkit-text-fill-color: white;
      -webkit-box-shadow: 0 0 0 30px black inset;

      &:hover,
      &:focus,
      &:active {
        -webkit-box-shadow: 0 0 0 30px black inset;
      }
    }
  }

  &__btn {
    flex-grow: 1;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: 0.5s ease-in;

    &:hover {
      opacity: 0.6;
    }
  }
}
