.features {
  &__outline,
  &__card {
    min-height: 15rem;
  }

  &__outline {
    margin: 2rem;
    padding: 1.1rem 0 0 1.1rem;
    border: 5px solid black;

    /*
     min-width: 43%;
     flex-basis: 43%;
     flex: (flex-grow value) (flex-shrink value) (flex-basis value)
    */
    flex: 1 0 43%;
  }

  &__card {
    margin: 0 -1.5rem -1.5rem 0;
    padding: 2.5rem;
    background-color: #fff;
  }
}

.card {
  &__icon {
    width: 75px;
  }

  &__heading {
    margin: 1rem 0;
  }

  &__body {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
