.features {
  &__cards-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    min-height: 15rem;
    margin: 1rem;
    padding: 2.5rem;
    border: 2px solid black;
    // min-width: 45%;
    // flex-basis: 45%;
    // flex: (flex-grow value) (flex-shrink value) (flex-basis value)
    flex: 1 0 45%;
  }
}
