.features {
  &__cards-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__title-wrap {
    margin-bottom: 1.5rem;
  }

  &__heading {
    margin-bottom: 1rem;
    font-size: 5rem;
  }

  &__sub-heading {
    margin: auto;
    max-width: 37rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
